<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>Profile</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
</head>
<body>

{% if user.is_authenticated %}
    {% if profile.verified %}
        <table width="100%">
        <tr>
            <th>
                <p>Hi {{ profile.user.username }}</p>
                <p>{{ verification }}</p>
            </th>
            <th>
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <a href="{% url 'user_logout_page' %}"><input type="button" value="Logout"></a>
                    <a href="{% url 'user_success_delete' %}"><input type="button" value="Delete"></a>
                </form>
            </th>
        </tr>
        </table>

        <table width="100%" align="center" border="5px">
        <tr>
            <th>Profile Image</th>
            <th>Your Profile</th>
        </tr>
        <tr align="center">
            <td>
                <img src="{{ profile.profile_pic.url }}" title="{{ profile.user.get_full_name }}" width="450" height="350" border="2px">
            </td>
            <td>
                <p>Name: {{ profile.user.get_full_name }}</p>
                <p>Email: {{ profile.user.email }}</p>
                <p>Mobile No.: {{ profile.mobile }}</p>
                <p>Description: {{ profile.description }}</p>
                <p>Address: {{ profile.city }}, {{ profile.state }}, {{ profile.country }}</p>
                <p>Date joined: {{ profile.user.date_joined }}</p>
                <p>Last Login: {{ profile.user.last_login }}</p>
            </td>
        </tr>
        <tr align="center">
            <td>
                <h3>Change Password:</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ change_password.as_p }}
                    <button type="submit">Change Password</button>
                </form>
                <p>{{ error }}</p><br>
            </td>
            <td>
                <p>Search Profile</p>
                <form method="post">
                    {% csrf_token %}
                    {{ search.as_p }}
                    <button type="submit">Search</button>
                </form>
                <p>{{ search_message }}</p>
            </td>
        </tr>
        {% if result %}
            {% for i in result %}
                {% if profile.user.username != i.user.username %}
                    <tr align="center">
                        <td>
                            <img src="{{ i.profile_pic.url }}" width="450" height="350" border="2px">
                        </td>
                        <td>
                            <p>Name: {{ i.user.get_full_name }}</p>
                            <p>Email: {{ i.user.email }}</p>
                            <p>Mobile No.: {{ i.mobile }}</p>
                            <p>Description: {{ i.description }}</p>
                            <p>Address: {{ i.city }}, {{ i.state }}, {{ i.country }}</p>
                            <p>Date joined: {{ i.user.date_joined }}</p>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        <tr align="center">
            <td>
                <h3>Request List:</h3>
            </td>
            <td>
                WRITE CODE FOR REQUEST LIST
            </td>
        </tr>
        <tr align="center">
            <td>
                <h3>Your Friends:</h3>
            </td>
            <td>
                WRITE CODE FOR Friend LIST
            </td>
        </tr>

        <tr align="center">
            <td>
                <h3>File Upload:</h3>
            </td>
            <td>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ send_or_receive.as_p }}
                    <input type="submit" value="Upload">
                </form>
            </td>
        </tr>

        <tr align="center">
            <td>
                <h3>Received Files:</h3>
            </td>
            <td>
                <p><a href="{% url 'user_request_download' %}"><button type="button">Download</button></a> <br>{{ download_message }}</p>
                <p><a href="{% url 'user_delete_download' %}"><button type="button">Delete Files</button></a> <br>{{ download_message }}</p>
            </td>
        </tr>

        </table>
    {% else %}

        <table>
            <tr>
                <th>
                    <h3> Hi {{ profile.user.get_full_name }}, activate your account:</h3>
                </th>
                <th>
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <a href="{% url 'user_logout_page' %}"><input type="button" value="Logout"></a>
                    </form>
                </th>
            </tr>
        </table>

        <form method="post">
            {% csrf_token %}
            {{ otp_verify.as_p }}
            <button type="submit">Verify</button>
        </form>
        <p>{{ message }}</p>
    {% endif %}

{% else %}

    <h3>You are not logged in.</h3>
    <h3>Click here to login <a href="{% url 'user_login_page' %}"><button type="button">Login Page</button></a></h3>

{% endif %}
<hr><hr>
<h3 align="center"><footer>This project is created by Rohit Anand<br>To visit my github profile <a href="https://github.com/rranand" target="_blank">click here </a></footer></h3>
<hr><hr>
</body>
</html>